*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.list-Header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  list-style-type: none;
  border-bottom: 1px solid hsla(240, 90%, 8%, .1);
  padding: 2% 10%;
  padding-bottom: 1rem;
  background-color: #fff;
}

.list-Header ul li {
  font-family: 'Big Shoulders Display', cursive;
  font-size: 1rem;
  font-weight: 400;
}

.list-Header ul li.active {
  box-shadow: 0px -5px 10px 0px rgba(7, 7, 7, 0.5);
  color: rgb(32, 155, 118);
}

.list-Header ul li:hover {
  opacity: .7;
}

#flexMain {
  font-family: 'Lexend Deca', sans-serif;
  background: hsl(0, 0%, 95%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80% 80%;
  margin: 15% 5rem;
  height: 25rem;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 0 2rem;
  width: 50%;
  height: 100%;
}

.card img {
  width: 20%;
  aspect-ratio: 1;
  margin-bottom: 2rem;
}

.card h2,
p {
  color: #fff;
  width: 90%;
}

.card p {
  margin: 2rem 0 3rem 0;
  font-size: .6rem;
  opacity: .8;
}

.card button {
  padding: .8rem 1rem;
  width: 80%;
  border: none;
  border-radius: 4rem;
  cursor: pointer;
}

.card button:hover {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.Sedans {
  background-color: hsl(31, 77%, 52%);
  border-radius: .5rem 0 0 .5rem;
}

.suvs {
  background-color: hsl(184, 100%, 22%);
}

.luxury {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 .5rem .5rem 0;
}

@media (max-width: 600px) {
  #flexMain {
    margin-left: .5rem;
    margin-right: .5rem;
  }

  .card p {
    margin: 0;
    padding-bottom: 2rem;
    font-size: .5rem;
    opacity: .8;
  }
}

@media (max-width: 375px) {
  #flexMain {
    flex-direction: column;
    height: 120vh;
  }

  .card {
    width: 90%;
  }

  .Sedans {
    border-radius: .5rem .5rem 0 0;
  }

  .luxury {
    border-radius: 0 0 .5rem .5rem;
  }
}



/* GRID PAGES */
#gridMain {
  background: hsla(0, 0%, 0%, 0.93);
}

.wrapper {
  font-family: 'Big Shoulders Display', cursive;
  margin: 10% 25%;
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: 100px 100px 100px;
}

.box {
  padding: 30px;
}

.a {
  grid-column: 1 / 3;
  grid-row: 1;
  padding: 50px;
  background: hsl(25, 100%, 52%)
}

.b {
  grid-column: 3;
  grid-row: 1 / 2;
  padding: 50px;
  background: hsl(48, 100%, 51%)
}

.c {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  width: 11rem;
  background: hsl(160, 68%, 42%)
}

.d {
  grid-column: 2 / 4;
  grid-row: 2;
  margin-left: 4.7rem;
  background: hsl(203, 100%, 60%);
}

.e {
  grid-column: 2 / 4;
  grid-row: 3;
  margin-left: 4.7rem;
  background: hsl(203, 100%, 60%);
}

footer p {
  display: flex;
  justify-content: center;
  color: rgb(32, 155, 118);
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 89, 0), 0 0 5px darkblue;
}